html {
    height: 100dvh;
}

body {
    background-color: #121212;
    margin: 0;
    height: 100dvh;
    overflow: hidden;
    font-family: Arial;
}

p {
    color: white;
}

.mainWindow {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    height: 100dvh;
}

.titleBar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100dvw;
    height: 10dvh;
    z-index: 1;
    background-color: #6B16A2;
}

.titleBar>h1 {
    font-size: 10vw;
    margin: 0;
}

.page {
    position: absolute;
    height: 90dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0;
    transition-duration: 3s;
    width: 100dvw;
}

.pageInner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70dvw;
    padding: 0% 5dvw;
    height: 80dvh;
    background-color: #3e517f;
    border-radius: 10px;
    margin: 0;
}

.pageInner button {
    width: 30%;
    background-color: #6B16A2;
    border-radius: 12%;
    padding: 5% 0%;
    font-size: 12vw;
    color: #E32128;
    margin-top: 4%;
}

.pageInner h1 {
    margin: 0;
    font-size: 12vw;
    color: gold;
}

.pageInner h2 {
    font-size: 14vw;
    color: #6B16A2;
    margin: 0;
}

.pageInner h3 {
    color: aliceblue;
}

.pageInner h4 {
    margin: 0;
    font-size: 8vw;
    color: #6B16A2;
}

.unopenedPage {
    top: 100%;
    opacity: 0;
}

.openPage {
    opacity: 1;
    top: 10%;
}

.closedPage {
    opacity: 0;
    top: -90%;
}

.ident {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 15vw;
    height: 15vw;
    bottom: 2%;
    right: 2%;
    background-color: #121212;
    border-radius: 50%;
}

.ident img {
    width: 12vw;
    height: 12vw;
}

.barchart {
    /* display: flex; */
    width: 80%;
    background-color: grey;
    border-radius: 10px;
    padding: 5%;
}

.barchartBar {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 1vh;
    color: white;
    background-color: red;
    border-radius: 10px;
}

.nameBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.nameBox button {
    width: 30%;
    background-color: #6B16A2;
    border-radius: 12%;
    padding: 5% 0%;
    font-size: 12vw;
    color: #E32128;
    margin-top: 4%;
}

@media only screen and (min-width: 768px) {
    .page {
        width: 50%
    }

    .mainWindow {
        align-items: center;
    }

    .pageInner h1 {
        font-size: 4vw;
    }

    .pageInner h2 {
        font-size: 3vw;
    }

    .pageInner h4 {
        font-size: 4vw;
    }

    .pageInner button {
        font-size: 4vw;
    }

    .barchartBar {
        padding: 0;
    }

    .pageInner p {
        margin: 0;
    }

    .titleBar h1 {
        font-size: 4vw;
    }
}
