html {
    height: 100%;
}

body {
    background-color: #121212;
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial;
}

p {
    color: white;
}

.mainWindow {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    height: 100%;
}

.titleBar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    z-index: 1;
    background-color: #6B16A2;
}

.titleBar>h1 {
    font-size: 10vw;
    margin: 0;
}

.page {
    position: absolute;
    height: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0;
    transition-duration: 3s;
    width: 100%;
}

@media only screen and (min-width: 768px) {}

.unopenedPage {
    top: 100%;
}

.openPage {
    top: 10%;
}

.closedPage {
    top: -90%;
}

.ident {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 15vw;
    height: 15vw;
    bottom: 2%;
    right: 2%;
    background-color: #121212;
    border-radius: 50%;
}

.ident img {
    width: 12vw;
    height: 12vw;
}
